<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Ma visionneuse Flickr
  </h1>
  <div>
    <label>Mot clé : </label>
    <input [(ngModel)]="tag" (change)="new_tag()" type="text" placeholder="mot-clé">
  </div>
</div>

<div>
  Nombre total de photos : {{ photos?.total }}
</div>

<div *ngIf="photos?.total > 0">
  Liste des photos : 
  <ul>
    <li *ngFor="let photo of photos?.photo">
      <img [src]="getPhotoUrl(photo)" (click)="current_photo=photo" class="thumb" />
      {{ photo.title }}
    </li>
  </ul>
</div>

<div class="fixed">
  <app-photo [photo]="current_photo"></app-photo>
</div>

<div>
  {{ copyright }}
</div>

